.Card{
    border-radius: 10px;
    margin: 5px;
    background-color: whitesmoke;
    width: 350px;
    min-height: 400px;
    overflow-x: hidden;
}
.ProfilePost{
    background-color: rgba(0, 0, 0, 0.089);
    align-items: center;
    display: flex;
    flex: row;
}
.Postimg{
    border-radius: 10px;
    object-fit: cover;
    width: 350px;
    height: 350px;
    overflow: hidden;
}
.Profilepic{
  margin-right: 10px;
  object-fit: cover;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  overflow: hidden;
}