body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.Lowbar{
  background-color: rgb(243, 243, 243);
  justify-content:space-around;
  align-items: center;
  position: fixed;
  bottom: 0;

  height: 8vh;
  width: 100%;
  display: flex;
  flex-direction: row;
}
.Lowbar a{
  scale: 1.5;
}
.feed{
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-bottom: 90px;
}
.Recommended{
  align-items: center;
  display: grid;
  grid-template-columns: repeat(auto-fill, min(370px));
  padding-bottom: 90px;
}