body {
  overflow-x: hidden;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.Cards{
  display: flex;
}
.Profile{
  display: flex;
  flex-direction: row;
  min-height: 130px;
  box-shadow: 0px 1px;
  list-style: none;
}
.top{
  display: flex;
  flex-direction: row;
}
.top p{
  font-size: 1.2rem;
  padding-right: 60px;
}
.Right{ 
  width: 450px;
  padding: 20px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.Right li{
  align-items: center;
  display: flex;
  flex-direction: row;
}
.Name{
  margin: 0px;
  font-size: 2rem;
}
.Right img{
  margin-right: 20px;
  border-radius: 50%;
  object-fit: cover;
  width: 70px;
  height: 70px;
  overflow: hidden;
}
@media (max-width: 550px) {
  .Profile{
    flex-direction: column;
  }
  .Cards{
    display: flex;
    flex-direction: column;
  }
}